body {
    font-family: 'roboto-light';
    height: 100vh;
    margin-left: 15%;
    margin-right: 15%;
    background: radial-gradient(#3B3B3B, #0F0F0F); 
}

.main_content {
    background: white;
    height: auto;
    padding-top: 1%;
    padding-bottom: 5%;
    /* from https://css-tricks.com/almanac/properties/b/box-shadow/ */
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset
}

.section {
    width: 60%;
    padding-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

.section_title {
    font-size: 2.7em;
}

.section_content {
    margin-top: 1%;
}

.section_right_highlight {
    float: right;
    top: 0px;
}

.history_name {
    color: #35343B;
}

.header {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 5%;
    margin-left: 5%;
}

.header_caption {
    font-size: 2.7em;
    margin-right: 30%;    
}

.header_subcaption {
    font-size: 1.4em;
    font-family: 'roboto-thin';
    margin-right: 30%;
}

.header_image {
    position: absolute;
    border-radius: 64px;
    margin-left: 70%;
    top: 0px;
}

.history_name {
    font-size: 1.2em;
    color: #1597D8;
    font-family: 'roboto-light'
}

.history_timeframe {
    font-size: 0.85em;
    font-family: 'roboto-thin'
}

.history_description {
    margin-top: 0.5em;
}