body {
    font-family: 'Comic Sans MS';
    height: 100vh;
    background-image: url("../media/george.jpg");
    background-size: 100%;
}

.main_content {
    position: relative;    
    background: white;
    height: auto;
    width: 500px;
    margin-left: auto;
    margin-right: 10%;
    padding-top: 0.1%;
    padding-bottom: 5%;
    box-shadow: 10px 10px 20px
}

.sections_container {
    position: relative;
    margin-left: 5%;
    margin-right: 30%; 
}

.section {
    padding-top: 3%;
}

.section_title {
    font-size: 2.6em;
}

a {
    color: lawngreen;
}

#about .section_title {
    color: hotpink;
    font-family: fantasy;
}

#history .section_title {
    color: greenyellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

#skills .section_title {
    color: blue;
    font-family: cursive
}

.section_content {
    margin-top: 1.2%;
    font-size: 0.9em;
}

.section_right_highlight {
    float: right;
    top: 0px;
}

.history_name {
    color: #35343B;
}

.header {
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    height: 200px;
    background: linear-gradient(#FF0000, #0000FF, #00FF00);
    margin-top: -2px;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.header_caption {
    font-size: 2.7em;
    padding-top: 0%;
    margin-right: 30%; 
    color: chocolate;
    text-shadow: -10px 10px 10px #FFFFFF;     
}

.header_subcaption {
    font-size: 1.4em;
    padding-top: 1.2%;
    padding-left: 2%;
    margin-right: 30%;
    color:white;   
    text-shadow: 10px 10px 10px #0000FF; 
}

.header_image {
    position: absolute;
    border-radius: 64px;
    margin-left: 70%;
    top: 17px;
    box-shadow: 10px 10px 10px
}

/* from https://www.abeautifulsite.net/how-to-make-rounded-images-with-css */

.history_name {
    font-size: 1.2em;
    color: brown;
    font-weight: bold;
}

.history_timeframe {
    font-size: 1.4em;
}

.history_description {
    margin-top: 0.5em;
    font-size: 0.9em;
}

.sidebar {
    position: absolute;
    margin-left: 72%;
    margin-right: 2%;
    width: auto;
    top: 230px; 
}

.sidebar_title {
    font-size: 1.4em;
    color: #1597D8;
}

.sidebar_content {
    margin-left: -20px;
}