body {
    background: #F2D9BA;
}


h1, h2, h3 {
    text-align: center;
}

p, pre {
    margin-left: 15%;
    margin-right: 15%;
}

img {
    margin: auto;
    display: block;
}

figcaption {
    text-align: center;
}

.fig {
    margin: auto;
    display: block;
}