body {
    background: #F2D9BA;
}


h1, h2, h3, h4, h5, h6, .contents, .illus {
    text-align: center;
}

img, table, .fig {
    margin-left: auto;
    margin-right: auto;
}

p, pre  {
    margin-left: 15%;
    margin-right: 15%;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

figcaption {
    text-align: center;
}